.container04{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


.box05{
   width: 450px;
    height: 650px;
    background-color: #5c5191aa;
     border-radius: 50px;
    display:flex;
    /* align-items: center; */
    flex-direction: column;
    border: 2px solid whitesmoke;
    color:whitesmoke;
   
}

th,td{
    border: 2px solid ;
}
td{
    text-align: center;
}

.hhButton{
     border:2px solid whitesmoke;
    width: 225px;
    font-size:medium;
    background-color: whitesmoke;
    border-radius: 40px;
    margin-left: 115px;
}