.container03{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}

.box03{
    width: 450px;
    height: 650px;
    background-color: #5c5191aa;
    border-radius: 50px;
    display:flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 20px 25px 25px blue;
    border: 2px solid whitesmoke;
    color:whitesmoke;
}



.dButon{
   border:2px solid whitesmoke;
    width: 220px;
    font-size:medium;
    background-color: whitesmoke;
    margin-left: 40px;
    border-radius: 40px; 
}

.hButon{
    border:2px solid whitesmoke;
    width: 225px;
    font-size:medium;
    background-color: whitesmoke;
    border-radius: 40px;
    margin-left: 40px;
}

